@define-color	rosewater  #D27E99;
@define-color	rosewater-rgb  rgb(210, 126, 153);
@define-color	flamingo  #FF5D62;
@define-color	flamingo-rgb  rgb(255, 93, 98);
@define-color	pink  #D27E99;
@define-color	pink-rgb  rgb(210, 126, 153);
@define-color	mauve  #957FB8;
@define-color	mauve-rgb  rgb(149, 127, 184);
@define-color	red  #E82424;
@define-color	red-rgb  rgb(232, 36, 36);
@define-color	maroon  #C34043;
@define-color	maroon-rgb  rgb(195, 64, 67);
@define-color	peach  #FFA066;
@define-color	peach-rgb  rgb(255, 160, 102);
@define-color	yellow  #E6C384;
@define-color	yellow-rgb  rgb(230, 195, 132);
@define-color	green  #98BB6C;
@define-color	green-rgb  rgb(152, 187, 108);
@define-color	teal  #7AA89F;
@define-color	teal-rgb  rgb(122, 168, 159);
@define-color	sky  #7FB4CA;
@define-color	sky-rgb  rgb(127, 180, 202);
@define-color	sapphire  #658594;
@define-color	sapphire-rgb  rgb(101, 133, 148);
@define-color	blue  #7E9CD8;
@define-color	blue-rgb  rgb(126, 156, 216);
@define-color	lavender  #9CABCA;
@define-color	lavender-rgb  rgb(156, 171, 202);
@define-color	text  #DCD7BA;
@define-color	text-rgb  rgb(220, 215, 186);
@define-color	subtext1  #C8C093;
@define-color	subtext1-rgb  rgb(200, 192, 147);
@define-color	subtext0  #727169;
@define-color	subtext0-rgb  rgb(114, 113, 105);
@define-color	overlay2  #54546D;
@define-color	overlay2-rgb  rgb(84, 84, 109);
@define-color	overlay1  #717C7C;
@define-color	overlay1-rgb  rgb(113, 124, 124);
@define-color	overlay0  #43436C;
@define-color	overlay0-rgb  rgb(67, 67, 108);
@define-color	surface2  #363646;
@define-color	surface2-rgb  rgb(54, 54, 70);
@define-color	surface1  #2A2A37;
@define-color	surface1-rgb  rgb(42, 42, 55);
@define-color	surface0  #1F1F28;
@define-color	surface0-rgb  rgb(31, 31, 40);
@define-color	base  #1F1F28;
@define-color	base-rgb  rgb(31, 31, 40);
@define-color	mantle  #1C1C26;
@define-color	mantle-rgb  rgb(28, 28, 38);
@define-color	crust  #16161D;
@define-color	crust-rgb  rgb(22, 22, 29);

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @lavender;
  border-radius: 8px;
  background-color: @base;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
}

#input image {
    border: none;
    color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @lavender;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @lavender;
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender!important;
}
